.container {
  max-width: 610px;
  margin-right: 50px;

  &__title {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.tab {
  display: flex;
}
.scroll {
  height: 686px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #2F2F37;
  }
  &::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #2F2F37;
    border-radius: 6px;
  }
}

