@import "../../constants/variables";

.container {
  max-width: $maxWidthContainerBurger;

  &__title {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.tab {
  display: flex;
}
.scroll {
  height: 686px;
  overflow-y: auto;
}
.scroll::-webkit-scrollbar {
  width: 12px;
}
.scroll::-webkit-scrollbar-track {
  background: #2F2F37;
}
.scroll::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}