.box {
  display: flex;
  background: #1C1C21;
  border-radius: 88px 88px 40px 40px;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 13px;
  width: 100%;

  &_special {
    margin-left: 35px;
  }

  &__description {
    margin-right: 20px;
  }
  &__image {
    margin-right: 20px;
  }
  &__lock {
    padding-right: 24px;
  }
}
.container {
  display: flex;
  align-items: center;
}
