
.container {
  max-width: 1260px;
  margin: 0 auto;
}
.title {
  margin-top: 40px;
  margin-bottom: 28px;
}
::-webkit-scrollbar {
  width: 12px;
  height: 300px;

}
::-webkit-scrollbar-track {
  background: #2F2F37;
  height: 300px;
}
::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 2px solid #2F2F37;
  border-radius: 6px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.left {
  height: 663px;
  overflow-y: auto;
}
.right {
  max-width: 580px;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
}
.inner {
  position: relative;
}
.control {
  padding-left: 0;
  margin: 0;
}
.list {
  list-style: none;
  color: #00CCCC;
  &_white{
    color:white;
  }
 &:last-child {
   margin-bottom: 0;
 }

}

.shadow {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}
