@import "../../constants/variables";


.header {
  display: flex;
  justify-content: space-around;;
  align-content: center;
  align-items: center;

  &__position {
    margin-top: $HeaderMaxMarginTop;
  }
  &__text-position {
    margin-left: 9px !important;
  }

}


.icon {
color:red;
}
.container {
  display: flex;
  &__position {
    display: flex;
    margin-right: 50px;
  }
}
