
.container {
  max-width: 600px;
  margin-top: 40px;
  border-radius: 20px;

  &_auto {
    margin-top: auto;
  }

  &__item {
    padding: 0;
    height:460px;
    overflow-y: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
      &::-webkit-scrollbar {
        width: 12px;
      }
      &::-webkit-scrollbar-track {
        background: #2F2F37;
      }
      &::-webkit-scrollbar-thumb {
        background: #8585AD;
        border: 3px solid #2F2F37;
        border-radius: 6px;
      }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 52px;
  }

}
